body, html {
    height: 100%;
    width: 100%;
 
  }

.container-1{
    
    width: 100vw;
    height: 100vh;
    min-height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

/*Header*/

.header{
    grid-area: 1 / 2 / 1 / 3;
    background-color: blue;
    display:flex;
    flex-direction: column;
    padding: 1rem 2rem;

}

.header-1, .header-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-2a{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.header-2a-img{
    grid-area: 1 / 1 / 3 / 2;
}

.header-2a-greet{
    grid-area: 1 / 2 / 2 / 3;
}

.header-2a-name{
    grid-area: 2 / 2 / 3 / 3;
}

.header-2b ul{
    display: flex;
}

/*Sidebar*/

.sidebar{
    grid-area: 1 / 1 / 3 / 2;
    background-color: red;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding-left: 2rem;
    padding-top: 1rem;
    
}

/*main*/

.main {
    grid-area: 2 / 2 / 3 / 3;
    background-color:  green;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: .5fr 2fr;
 
}

.main-1{
    border: 2px solid yellow;
    width: 100%;
    height: 100%;
   display:grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: .5fr 2fr 2fr 2fr;       ;
}

.title{
    grid-area: 1 / 1 / 2 / 2;
      
}

.card1{
    border: 2px solid blue;
    grid-area: 2 / 1 / 3 / 2;
      
}
.card2{
    border: 2px solid blue;
    grid-area: 3 / 1 / 4 / 2;
      
}
.card3{
    border: 2px solid blue;
    grid-area: 4 / 1 / 5 / 2;
      
}
.card4{
    border: 2px solid blue;
    grid-area: 2 / 2 / 3 / 3;
      
}
.card5{
    border: 2px solid blue;
    grid-area: 3 / 2 / 4 / 3;
      
}
.card6{
    border: 2px solid blue;
    grid-area: 4 / 2 / 5 / 3;
      
}

.main-2-cards{
    border: 2px solid yellow;
    width: 150px;
    height: 200px;
}

/*General elements*/
a{
    text-decoration: none;
}

ul{
    list-style: none;
    padding: 0;
    line-height: 150%;
}